/* global variables (non responsive) */
:root {
    --background-color: #454443;
    --heading-color: #f5d316;
    --text-color: #f56f16;
    --heading-font-family: "UNicod", "monospace";
    --text-font-family: "Times New Roman", "monospace";
    --menu-background-color: rgba(39, 39, 39, 0.8);
    --text-lr-padding: 8vw;
    --text-tb-padding: 8vw;
    --heading-lr-padding: 10vw;
}


/* Mobile first -> This is for width < 544px */
:root {
    --h1-font-size: 1.5rem;
    --text-font-size: 0.75rem;
    --heading-font-size: 1rem;
    --paper-font-size: 0.75rem;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
    :root {
    --h1-font-size: 2rem;
    --text-font-size: 1rem;
    --heading-font-size: 1.25rem;
    --paper-font-size: 1rem;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    :root {
    --h1-font-size: 3rem;
    --text-font-size: 1.25rem;
    --heading-font-size: 2rem;
    --paper-font-size: 1.25rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    :root {
    --h1-font-size: 3rem;
    --text-font-size: 1.5rem;
    --heading-font-size: 2rem;
    --paper-font-size: 1.25rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    :root {
    --h1-font-size: 4rem;
    --text-font-size: 1.75rem;
    --heading-font-size: 2.5rem;
    --paper-font-size: 1.5rem;
    }
}

body {
    background-image: url(../images/background.svg);
    background-size: 12vw;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    color: var(--heading-color);
    padding-left: var(--heading-lr-padding);
    padding-right: var(--heading-lr-padding);
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-family: var(--heading-font-family);
    font-weight: 900;
    font-size: var(--h1-font-size);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.text {
    color: var(--text-color);
    margin-left: var(--text-lr-padding);
    margin-right: var(--text-lr-padding);
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
    margin-bottom: 5vw;
    margin-top: 5vw;
}

a {
    color: var(--text-color);
    font-family: var(--text-font-family);
}

table {
    color: var(--text-color);
    font-family: var(--text-font-family);
    font-size: 1em;
}

td {
    padding: 5px;
    vertical-align: top;
}

.banner {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0px;
    padding-bottom: 1vw;
    padding-top: 1vw;
    background-color: var(--menu-background-color);
}

p#page-head{
    display: inline;
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-size: var(--text-font-size);
    vertical-align: middle;
    padding-left: var(--text-lr-padding);

}

#menu{
    display: inline;
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-size: var(--text-font-size);
    vertical-align: middle;
    position: absolute;
    right: var(--text-lr-padding);

}

.banner p {
    display: inline;
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-size: var(--text-font-size);
    vertical-align: middle;
}

.banner img {
    display: inline;
    width: 2vw;
    vertical-align: middle;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    padding-right: var(--text-lr-padding);
    right: 0px;
    width: 100%;
    margin-top: 1vw;
    background-color: var(--menu-background-color);
    text-align: right;
}

/* Show the dropdown menu on hover */
.banner:hover .dropdown-content {
    display: block;
}

.dropdown-container:nth-of-type(odd) {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.dropdown-container:nth-of-type(even) {
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: 2vw;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-size: var(--text-font-size);
    vertical-align: middle;
}

.heading {
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: var(--text-lr-padding);
    padding-right: var(--text-lr-padding);
    vertical-align: middle;
}

img.heading-content {
    display:inline;
    width: 2vw;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

h2.heading-content {
    display:inline;
    color: var(--heading-color);
    font-family: var(--heading-font-family);
    font-weight: 900;
    font-size: var(--heading-font-size);
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

a#bottom-banner{
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: absolute;
    right: 5vw;
    color: var(--text-color);
    font-family: var(--heading-font-family);
    font-size: var(--text-font-size);
    text-align: center;
    text-decoration: none;
}

.paper {
    overflow : hidden; /* avoids that container has 0 height if floating children*/
    color: var(--text-color);
    margin-left: var(--text-lr-padding);
    margin-right: var(--text-lr-padding);
    font-family: var(--text-font-family);
    font-size: var(--text-font-size);
}

.paper img{
    width: 30vw;
    float: left;
    margin-right: 2vw;
}

.paper-text {
    margin-top: 0px;
    text-align: justify;
    font-size: var(--paper-font-size)
}

.authors {
    color: var(--heading-color);
    font-size: var(--text-font-size);
}

table {
    margin-bottom: 5vw;
    margin-top: 5vw;
}

table td {
    min-width: 20vw;
}

table p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

a {
    color: var(--text-color);
    font-family: var(--text-font-family);
    text-decoration: underline;
}
